/* Styling that affects entire page begins here. */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}


/* Styling that affects the entire page ends here. */


/* Styling that affects the header begins here. */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px; 
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Styling that affects the header ends here. */

/* Styling that affects the main image starts here.  */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    content: "People at a conference table";
}

/* Styling that affects the main image ends here.  */

/* Styling that effects the main content area starts here. */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.Summary-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Summary-content img {
    max-height: 200px;
}

.Summary-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Styling that effects the main content area ends here. */

/* Styling that effects the aside area to the right of the main content starts here. */


aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.aside-content {
    margin-bottom: 32px;
    color: #ffffff;
}
.aside-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

.aside-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styling that effects the aside area to the right of the main content ends here. */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}

/* Styling the effects the footer ends here. */